<section style="margin-top: -50px">
  <div class="container py-5 h-100">
    <div class="row d-flex h-100">
      <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">

        <%= form_with model: @payment, url: create_payment_path, local: :true do |form| %> 
          
          <div class="d-flex align-items-center justify-content-between bg-primary bg-gradient" style="width: 100%; height: 3rem; margin-bottom: 50px;">
          <%= link_to link_to "Back", payments_path, class: "btn btn-outline-primary text-white" %>
            <h2 class="text-white fs-6">New Transaction</h2>

            <div class="actions">
              <%= form.submit "Create", class: "btn btn-outline-primary btn-lg btn-block text-white" %>
            </div>

          </div>

          <% if @payment&.errors&.any? %>
            <div style="color: red">
              <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>
              <ul>
                <% @payment.errors.each do |error| %>
                  <li><%= error.full_message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div>
            <%= form.hidden_field :author_id, value: current_user.id%>
          </div>
          
          <div class="field form-outline mb-4">
            <%= form.text_field :name, placeholder: 'Enter Transaction Name', class: "form-control form-control-lg" %>
          </div>
    
          <div class="field form-outline mb-4">
            <%= form.text_field :amount, placeholder: 'Enter Transaction Amount', class: "form-control form-control-lg" %>
          </div>

          <div class="form-group form-outline mb-4">
            <%= form.collection_select :category_id, Category.all, :id, :name, { prompt: "Select a category" }, class: "form-control form-control-lg" %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</section>

