<div class="categories">
  <% @categories.each_with_index do |cat, index|%>
    <%= link_to category_payments_path(cat) do %>
      <secion class="category card mb-3">
          <div class="category-icon underline" style="font-size: 2.5em;">
            <%= cat.icon %>
          </div>
          <div class="category-details">
            <h5 class="category-card-title underline"><%= cat.name%></h5>
            <p class="card-text text-left"><%= cat.created_at.strftime("%d %B %Y") %></p>
          </div>
          <div>
            <strong>$<%= cat.payments.sum(:amount) %></strong>
          </div>
      </secion>
    <% end %>
  <% end %>
</div>